openapi: 3.0.3
info:
  title: EventMesh Editorial Platform API
  description: >
    Production REST API specification for EventMesh, the editorial multi-club event platform.
    Designed with a zero-college-bureaucracy model for technical associations, collectives, and communities.
  version: 1.0.0
servers:
  - url: https://api.eventmesh.xyz/v1
    description: Production Cluster
  - url: http://localhost:8000/api/v1
    description: Local Development Engine

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      required:
        - code
        - message
        - status
        - timestamp
      properties:
        code:
          type: string
          example: RESOURCE_NOT_FOUND
        message:
          type: string
          example: Event not found
        status:
          type: integer
          example: 404
        details:
          type: object
        timestamp:
          type: string
          format: date-time

    Pagination:
      type: object
      required:
        - page
        - limit
        - total
        - totalPages
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total:
          type: integer
          example: 84
        totalPages:
          type: integer
          example: 5
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

    Club:
      type: object
      required:
        - id
        - slug
        - name
        - shortName
        - themeColor
      properties:
        id:
          type: string
          example: club-devcraft
        slug:
          type: string
          example: devcraft
        name:
          type: string
          example: DevCraft Software Collective
        shortName:
          type: string
          example: DevCraft
        category:
          type: string
          example: SOFTWARE
        description:
          type: string
        themeColor:
          type: string
          example: "#E54D2E"
        memberCount:
          type: integer
          example: 42
        eventCount:
          type: integer
          example: 12

    Event:
      type: object
      required:
        - id
        - slug
        - title
        - summary
        - organizerClubId
        - category
        - status
        - startsAt
        - endsAt
      properties:
        id:
          type: string
          example: evt-1
        slug:
          type: string
          example: grand-turing-hackathon
        title:
          type: string
          example: Grand Turing Hackathon 2026
        summary:
          type: string
          example: 36-hour competitive hackathon.
        description:
          type: string
        organizerClubId:
          type: string
          example: club-devcraft
        category:
          type: string
          enum: [HACKATHON, WORKSHOP, TALK, EXHIBITION, COMPETITION, SOCIAL]
        status:
          type: string
          enum: [DRAFT, IN_REVIEW, PUBLISHED, ONGOING, COMPLETED, ARCHIVED]
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        venueName:
          type: string
          example: Turing Hall
        venueAddress:
          type: string
        capacity:
          type: integer
          example: 200
        registeredCount:
          type: integer
          example: 184
        isFeatured:
          type: boolean
          example: true
        signatureAccentColor:
          type: string
          example: "#E54D2E"

    CreateEventInput:
      type: object
      required:
        - title
        - summary
        - organizerClubId
        - category
        - startsAt
        - endsAt
      properties:
        title:
          type: string
        summary:
          type: string
        description:
          type: string
        organizerClubId:
          type: string
        category:
          type: string
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        venueName:
          type: string
        capacity:
          type: integer
        signatureAccentColor:
          type: string

    RegistrationInput:
      type: object
      required:
        - attendeeName
        - attendeeEmail
      properties:
        attendeeName:
          type: string
        attendeeEmail:
          type: string
          format: email
        attendeePhone:
          type: string
        formAnswers:
          type: object

    Registration:
      type: object
      required:
        - id
        - eventId
        - attendeeName
        - attendeeEmail
        - ticketCode
        - status
      properties:
        id:
          type: string
        eventId:
          type: string
        attendeeName:
          type: string
        attendeeEmail:
          type: string
        ticketCode:
          type: string
          example: PASS-4921
        status:
          type: string
          enum: [PENDING, CONFIRMED, WAITLISTED, REJECTED, CHECKED_IN, CANCELLED]
        checkedInAt:
          type: string
          format: date-time

    CertificateRecord:
      type: object
      required:
        - certificateId
        - recipientName
        - eventName
        - issuedAt
        - signatureValid
      properties:
        certificateId:
          type: string
          example: TA-2026-001245
        recipientName:
          type: string
          example: Priya Ramanathan
        eventName:
          type: string
        issuedAt:
          type: string
          format: date-time
        clubName:
          type: string
        signatureValid:
          type: boolean
          example: true
        issuer:
          type: string

paths:
  /events:
    get:
      summary: List published events
      parameters:
        - name: orgId
          in: query
          required: true
          schema:
            type: string
        - name: clubId
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
        - name: query
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /events/{slugOrId}:
    get:
      summary: Get event details
      parameters:
        - name: slugOrId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /events/{eventId}/register:
    post:
      summary: Register for an event
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationInput'
      responses:
        '201':
          description: Registration confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'

  /admin/events:
    post:
      summary: Create new event
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventInput'
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'

  /admin/events/{eventId}/checkin:
    post:
      summary: Terminal gate check-in
      security:
        - bearerAuth: []
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ticketCode
              properties:
                ticketCode:
                  type: string
      responses:
        '200':
          description: Check-in outcome
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  attendeeName:
                    type: string
                  checkedInAt:
                    type: string

  /verify/{certificateId}:
    get:
      summary: Verify credential validity
      parameters:
        - name: certificateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Certificate verification details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateRecord'
        '404':
          description: Certificate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
